/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    /* HSL color mode */
    --facebook-color: hsl(221, 44%, 42%);
    --twitter-color: hsl(198, 91%, 62%);
    --instagram-color: #e1306c;
    --first-color-lighter: hsl(var(--hue-color), 14%, 96%);
    --github-color: hsl(0, 0%, 20%);
    --youtube-color: hsl(4, 71%, 55%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: linear-gradient(315deg, #ffffff, #d7e1ec);
    
    /*========== Font and Typography ==========*/
    --body-font: 'Poppins', sans-serif;
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ========== TOOLTIP ========== */
/* ========== ICON ========== */
/* ========== FACEBOOK ========== */
/* ========== TWITTER ========== */
/* ========== INSTAGRAM ========== */
/* ========== GITHUB ========== */
/* ========== YOUTUBE ========== */
